@model QuestionModel

<h1> Ask Question </h1>


<form asp-action="AskQuestion" asp-controller="Client" asp-anti-forgery="true" method="post">
    <textarea rows="10" cols="20" name="question" asp-for="Question">
        </textarea>
    <br>
    <input type="submit" value="Submit" style="margin-top: 10px">
</form>